@media (max-width: 440px) {
  .topbar-alignment{
  font-size: 12px!important;
  }
  
}
@media (min-width: 1400px){
.contaiber-style{
    max-width: 1100px!important;
}
.daydream-container-style{
    max-width: 950px!important;
}
}
@font-face {
  font-family: "Freight";
  src: local("Freight"),
   url("./Fonts/Freight/Freight2.ttf") format("opentype");
  font-weight: bold;
  }











.topbar-alignment{
  margin: 0px auto!important;
  font-size: 16px!important;
  text-decoration: underline!important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #898989;
}

.btn-style{
  border-radius: 0%!important;
  color: #414143!important;
  font-size: 13px!important;
  padding: 3px 5px!important;
  font-weight: 500!important;
  border: 1px solid!important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.bg{
    -webkit-background-position: 0 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 400px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.row-style{
  /* max-width: 1100px; */
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: white;
    border-radius: 33px;
    padding: 0 35px;
    
}

.form-select{
  border: 0px!important;
}

.ant-picker{
  border: 0px;
}
.header-style{
  border-left: 1px solid rgb(173, 173, 173);
  
  padding-left: 16px;

}
label{
  font-size: 14px;
  color: #121214!important;
}

.main-heading{
  font-family: Freight;
  font-size: 90px;
  text-align: center;
}
.sub-heading{
  font-family: Freight;
  font-size: 30px;
  text-align: center;
}




#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-pagination-bullets {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper{
  padding-bottom: 20px!important
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* margin-right: 10px!important; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.ant-card-meta{
  display: block!important;
}

.ant-card-meta-title{
  font-weight: 700!important;
}
.ant-layout{
  background-color: #fff!important;
  margin-top: 40px;
  margin-bottom: 40px;

}

.slider-main-div{
  margin-top: 80px;
}

.headingStyle{
  font-weight: 700;
  font-size: 28px;
  padding: 20px 0px;
  text-align: left;
}
.paraStyle{
  font-size: 16px;
  text-align: left;
  padding: 10px 0px;
}

.btn-browseCars{
  display: flex;
  background-color: #593CFB;
  border-radius: 0px;
  color: white;
  padding: 12px 18px;
  border-width: 0px;
}
.browseCars-style{
  padding: 0px 30px;
  margin-top: 30px;
}
.card-shadow{
  box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);
}


.mainSub-heading{
  font-family: Freight;
  font-size: 60px;
  text-align: center;
}

.mainSub-heading-text{
  font-size: 16px;
  text-align: center;
  padding: 10px 0px;
}

.btn-daydream{
  display: flex;
  background-color: #593CFB;
  border-radius: 0px;
  color: white;
  padding: 12px 18px;
  border-width: 0px;
  margin: 0px auto;
  font-size: 18px;
}

.exp-banner{
  background-image: url('https://blog.turo.com/blog/wp-content/uploads/2021/04/Kyle_Engman_21-copy-2_lesssmall.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.card-styling{
  background-color: #121214!important;
  margin-left: -100px;
  border-radius: 0%;
}
.card-styling p{
  color: #fff;
  margin: 10px 15px;
}

.feaured-style{
  font-size: 12px;
  font-weight: 700;
}

.heading-experience{
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
}

.featured-para{
  font-size: 16px;
  margin-right: 40px;
}

.featured-link{
  text-decoration: underline;
}

.card-para{
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  
}

.ant-card-body {
  padding: 5px!important;
}

.card-para span{
  font-size: 28px;
  padding: 0 6px;
}

.review-title{
  text-align: left;
  padding: 0px;
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
}
.review-data{
  text-align: left;
  padding: 0px;
  font-size: 12px;
  margin: 0px;
}

.review_img{
  border-radius: 100px;
}

.review{
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  padding-top: 30px;
}